@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row{
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background-color: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header .row{

    margin-top: 70px;

}

.categories{
    margin: 70px 0;
}

.col-3{
    
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}


.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fas{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}
/*---------------offer-----------------------------*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}  

small{
    color: #555;
}


/*---------------testimonial-----------------------------*/


.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}


.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.col-3 .fas{
    color: #ff523b;
    font-size: 20px;
}

.col-3 p{
    margin: 12px 0;
    color: #777;
    font-size: 12px;
}


/*---------------brands-----------------------------*/

.brands{
    margin: 100px auto;
}

.col-5{
 width: 160px;
  
}

.col-5 img{
    cursor: pointer; 
    width: 100%;
    filter: grayscale(100);
}

.col-5 img:hover{
    filter: grayscale(0);
}



/*---------------footer-----------------------------*/

.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px;
}


.footer p{
    color: #8a8a8a;

}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    
    min-width: 250px;
    margin-bottom: 20px;
   
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex-basis: 30%;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr
{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.footer .copyright{
    text-align: center;
}

.menu-icon{
    margin-left: 20px;
    display: none;
}
/*---------------------medua for menu-------*/
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*-------all products-------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 2px solid #ff52;
    padding: 5px;
}

select:focus{
    outline:none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.page-btn span:hover{
    background-color: #ff523b;
    color: white;
}
/*---------------------single product styling-------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2{
    padding: 20px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}


.single-product input:focus{
    outline: none;
}

.small-img-row{
    display: flex;
    justify-content: space-around;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*-------------------Cart items------*/
.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background:#ff523b;
    font-weight: normal;
}


td{
    padding: 10px 5px;
}

td input{
width: 40px;
height: 30px;
padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}


.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 390px;
}

td:last-child{
    text-align: right;
}


th:last-child{
    text-align: right;
}









/*---------------------medua for less than 600 screen size-------*/

@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }

    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 25px;
        line-height: 32px;
    }

    .cart-info p{
        display: none;
    }

}
